{% extends 'base.html' %}
{% block title %}Create a Blog Post!{% endblock %}
{% block content %}


{% if user.is_authenticated %}
	{% if user.id == profile.user.id %}
		<h1>Edit your Profile information</h1> 

		<br/><br/>
		<div class="form-group">                                         
			<form method='POST' enctype="multipart/form-data">
				{% csrf_token %}
				
				{{ form.as_p }}
				<button class="btn btn-secondary">Update Profile Page</button> 
			</form>
		</div>

	{% else %}

		You cannot edit another users profile 

	{% endif %}

{% else %}

	You are not allowed to edit unless your logged in 
	
{% endif %}

{% endblock %}




<!-- this html file is for our user to be able to edit there profile page .... they cannot edit another users profile page !!  -->