{% extends 'base.html' %}
{% block title %}Delete Post!{% endblock %}
{% block content %}


{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<h1>Delete Post</h1>
		<br/><br/>
		<h3>Delete: {{ post.title }}</h3>
		<div class="form-group">                                         
			<form method='POST'>
				{% csrf_token %}
				<strong>Are you sure?!</strong>
				<button class="btn btn-secondary">Delete</button> 
			</form>
		</div>
	{% else %}
		You cannot delete this post
	{% endif %}

{% else %}

You are not allowed to edit unless your logged in 

{% endif %}

<!-- ADDED the if / else statement ... so only valid logged in users can access the delete post   -->

{% endblock %}